page-modal {
  video{
    width: 100%;
    height: auto;
  }
  button{
    box-shadow: none !important;
  }

  .video-index-control{
    button{
      font-weight: 600 !important;
      font-size: 1.45rem !important;
    }
  }
}
