page-generic {
  ion-card{
    margin-bottom: 60px !important;
  }

  li{
    line-height: 1.5;
  }

  .img-label{
    li{
      margin-bottom: 10px;
    }

    img{
      margin-bottom: 30px !important;
    }
  }
}
