<!--
  Generated template for the SymptomsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ renderObj.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row class="align-all-items-center">
    <img class="little-padding-bottom" src="{{ renderObj.icon }}">
    <span class="page-title">{{ renderObj.subtitle }}</span>
  </ion-row>
  <ion-card class="node" *ngFor="let symptom of renderObj.nodes" padding (click)="openHansType(symptom.hansType)">
    <span class="node-text">{{ symptom.description }}</span>
    <ion-row justify-content-end>
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-row>
  </ion-card>
  <ion-row justify-content-center *ngIf="renderObj.id == 'neural'">
    <button (click)="toTest()">TESTE DE SENSIBILIDADE</button>
  </ion-row>
</ion-content>
