page-home{

  ion-card{
    height: auto;
    text-transform: uppercase;
    border-radius: 12px !important;
    margin: 12px !important;

    &:active {
      ion-row > img{
        transition: transform 0.25s ease;
        transform: scale(1.8);
      }
    }
  }

  span{
    font-size: 1.35rem !important;
  }

  ion-card-content > ion-row > img{
    width: 60px;
    height: 60px;
  }

  #logo{
    width: 140px;
    height: 140px;
  }

  .row-pyramid{
    align-content: flex-start;
    justify-content: center;
  }

}
