page-how-to-use{
  .section-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: $primary;
  }

  #roxa{
    width: 8.8rem;
    position: absolute;
    right: 0;
  }

  #branca{
    position: absolute;
    left: -3px;
    width: 8rem;
    bottom: 0;
  }
}
