// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------

.align-all-items-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-title{
  font-size: 1.6rem !important;
  font-weight: 200;
}

.little-padding-bottom{
  padding-bottom: 10px !important;
}

ion-card{
  border: $border-primary;
  box-shadow: none !important;
  background: transparent !important;
}

.node{
  border-radius: 8px !important;
}

.node-text{
  font-size: 1.5rem;
  font-weight: 200;
  color: $text-color !important;
}

ion-footer > ion-icon{
  font-size: 4.8rem;
  color: $text-color;
}

ion-content{
  padding-bottom: 40px;
}

ion-navbar > .toolbar-background{
  // background: #6bd8eb !important;
  background: #45C5DD !important;
}

ion-title > .toolbar-title {
  color: white !important;
}

button > span{
  color: white;
}

ion-footer:before{
  height: 0 !important;
}

ion-menu {
  ion-header{
    background: #45C5DD !important;
    padding: 8px;
  }
}

#close-menu-button{
  color: white;
  text-align: center;
  font-size: 2.8rem;
  padding-left: 7px;
}
