<ion-menu [content]="content">
  <ion-header>
    <ion-row align-items-center>
      <ion-icon id="close-menu-button" menuClose name="arrow-back"></ion-icon>
      <ion-title text-center>Menu</ion-title>
    </ion-row>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content></ion-nav>
<ion-footer class="row" justify-content-center *ngIf="showFooter" padding-bottom>
  <img src="./assets/icon/home.png" (click)="goToRoot()" *ngIf="!blankSrc">
  <img src="./assets/icon/home2.png" (click)="goToRoot()" *ngIf="blankSrc">
</ion-footer>
