<!--
  Generated template for the HansTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hanseníase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row justify-content-center>
    <span class="page-title" text-center style="padding: 15px;">{{ renderObj.title }}</span>
  </ion-row>
  <ion-card class="node" padding>
    <p class="node-text" *ngFor="let p of renderObj.description">{{ p }}</p>
  </ion-card>
  <!-- <ion-row class="little-padding-bottom" *ngFor="let img of renderObj.imgs" justify-content-center>
    <img src="{{ img }}">
  </ion-row> -->
</ion-content>
